/* Zaokrąglone rogi  kart Recent Posts */
.rounded {
  border-radius: 1rem !important;
}

.home-recent .card {
    border-radius: 20px;
    overflow: hidden;
}

.home-recent .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Systemowe czcionki */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
