{{ range first .Site.Params.homepage.showRecentItems (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  <article class="first:mt-0 last:mb-0 mb-10">
    <h3 class="flex items-center mt-6 text-xl font-semibold">
      {{ with .Params.externalUrl }}
        <div>
          <a
            class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
            href="{{ . }}"
            target="_blank"
            rel="external noopener noreferrer"
            aria-label='{{ printf (i18n "article.external_link") ($.Title | emojify) }}'
          >
            {{ $.Title | emojify }}
          </a>
          <span
            class="cursor-default text-xs text-neutral-400 dark:text-neutral-500"
            title="{{ i18n "list.externalurl_title" }}"
            aria-hidden="true"
          >
            &#8599;
          </span>
        </div>
      {{ else }}
        <a
          class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
          {{ if eq .Site.Language.Lang "en" }}
            href="/en{{ .RelPermalink }}"
          {{ else }}
            href="{{ .RelPermalink }}"
          {{ end }}
          aria-label='{{ printf (i18n "article.read_article") (.Title | emojify) }}'
        >
          {{ .Title | emojify }}
        </a>
      {{ end }}
      {{ if .Site.Params.article.showDraftLabel | default false }}
        {{ if .Draft }}
          <span class="ml-2">
            {{ partial "badge.html" (i18n "article.draft" | emojify) }}
          </span>
        {{ end }}
      {{ end }}
    </h3>
    <div class="text-sm text-neutral-500 dark:text-neutral-400">
      {{ partial "article-meta.html" . }}
    </div>
    {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
      <div class="py-1 prose dark:prose-invert">
        {{ .Summary | emojify }}
      </div>
    {{ end }}
  </article>
{{ end }}
