{{ $recentArticles := 6 }}
{{ $showMoreLinkDest := cond (eq .Language.Lang "en") (.Site.Params.homepage.showMoreLinkDest | default "/archives/") (printf "/%s%s" .Language.Lang (.Site.Params.homepage.showMoreLinkDest | default "/archives/")) }}
{{ if .Site.Params.homepage.showRecent | default false }}
{{ if index .Site.Params.homepage "showRecentItems" }}
{{ $recentArticles = .Site.Params.homepage.showRecentItems }}
{{ end }}
<h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.recent_articles" | emojify }}</h2>

{{ if .Site.Params.homepage.cardView | default false }}
  {{ partial "recent-articles/cardview.html" . }}
{{ else }}
  {{ partial "recent-articles/list.html" . }}
{{ end }}

{{ if .Site.Params.homepage.showMoreLink | default false }}
{{ if index .Site.Params.homepage "showRecentItems" }}
{{ $showMoreLinkDest = cond (eq .Language.Lang "en") (.Site.Params.homepage.showMoreLinkDest | default "/archives/") (printf "/%s%s" .Language.Lang (.Site.Params.homepage.showMoreLinkDest | default "/archives/")) }}
{{ end }}
<div class="mt-10 flex justify-center">
  <a href="{{ $showMoreLinkDest }}">
    <button
      class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">
      {{ i18n "recent.show_more" | markdownify }}
    </button>
  </a>
</div>
{{ end }}
{{ end }}

