{{ if ne .Kind "404" }}
  {{ with .Site.Config.Services.Disqus.Shortname }}
  {{ $pageId := "" }}
  {{ if $.File }}
    {{ $pageId = $.File.UniqueID }}
  {{ else }}
    {{ $pageId = $.Permalink }}
  {{ end }}
  <!-- Disqus -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var disqus_config = function () {
        this.page.url = "{{ $.Permalink }}";
        this.page.identifier = "{{ $pageId }}";
        this.language = "{{ $.Site.Language.Lang }}";
      };
      
      if (document.getElementById('disqus_thread')) {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ . }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      }
    });
  </script>
  <noscript>
    {{ if eq $.Site.Language.Lang "pl" }}
      Włącz JavaScript aby zobaczyć komentarze.
    {{ else }}
      Please enable JavaScript to view the comments.
    {{ end }}
  </noscript>
  {{ end }}

  <!-- Medium Zoom initialization -->
  {{ if not .Site.Params.disableImageZoom | default true }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      mediumZoom('img:not(.nozoom)', {
        margin: 24,
        background: 'rgba(0,0,0,0.8)',
        scrollOffset: 0
      });
    });
  </script>
  {{ end }}
{{ end }}