{{ if ne .Kind "404" }}
  {{ with .Site.Config.Services.Disqus.Shortname }}
  {{ $pageId := "" }}
  {{ if $.File }}
    {{ $pageId = $.File.UniqueID }}
  {{ else }}
    {{ $pageId = $.Permalink }}
  {{ end }}
  <!-- jQuery dla Disqus -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  
  <!-- Disqus -->
  <script>
    window.addEventListener('load', function() {
      var disqus_config = function () {
        this.page.url = "{{ $.Permalink }}";
        this.page.identifier = "{{ $pageId }}";
        this.language = "{{ $.Site.Language.Lang }}";
      };
      
      if (document.getElementById('disqus_thread')) {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ . }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      }
    });
  </script>
  <noscript>
    {{ if eq $.Site.Language.Lang "pl" }}
      Włącz JavaScript aby zobaczyć komentarze.
    {{ else }}
      Please enable JavaScript to view the comments.
    {{ end }}
  </noscript>
  {{ end }}
{{ end }}