<link rel="preload" as="image" href="{{ .Site.Params.defaultBackgroundImage | relURL }}" media="(min-width: 768px)">
<link rel="preload" as="image" href="{{ replace (.Site.Params.defaultBackgroundImage | relURL) ".webp" "_mobile.webp" }}" media="(max-width: 767px)">

<div class="hero-section">
  <div class="hero-content">
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.author.headline }}</p>
  </div>
</div>

<div class="recent-articles-section">
  {{ partial "recent-articles/main.html" . }}
</div>
